$background-color: rgb(10, 202, 228);
$text-color:rgb(236, 24, 42);
$button-bg-color: rgb(236, 187, 24);
$success-color: green;
$error-color: red;
$border-color: white;
$header-footer:rgb(228, 202, 202);;
