@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
body {
  font-family: 'Roboto', sans-serif; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.authContainer {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background: url("../../img/bg.jpg") no-repeat;
  background-size: cover; }

.authForm {
  height: auto;
  width: 350px;
  background: #0acae4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 2px 2px 5px grey;
  text-align: center; }
  .authForm .app-title {
    color: #ec182a;
    padding: 1rem 0;
    border-bottom: 1px solid grey;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px; }
    .authForm .app-title .icon {
      font-size: 2rem; }
  .authForm .inputs {
    padding: 1rem 0;
    max-width: 80%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px; }
    .authForm .inputs h5 {
      margin-right: auto;
      font-size: 1rem; }
      .authForm .inputs h5 span {
        color: #ec182a; }
        .authForm .inputs h5 span:hover {
          text-decoration: underline;
          cursor: pointer; }

label {
  margin-right: auto;
  font-weight: bold;
  color: #ec182a;
  letter-spacing: 1px; }

.authInput {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px; }
  .authInput input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 0.5rem;
    font-weight: bold; }
  .authInput input[type=submit] {
    background-color: #ecbb18; }
    .authInput input[type=submit]:hover {
      cursor: pointer; }

.checkBoxDiv {
  margin-right: auto; }
